<!-- home.html in your templates folder -->

{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div id="rainbow" class="element">
        <h1>”Colour Your World”</h1>
    </div>
    <div class="flex-container">
        <div class="intro">
            <!-- Content for the 'intro' div -->
            {% if content %}
            <span class="description">{{ content.description }}</span>
            
            <hr>
            {% else %}
            <p>No content found for the home page.</p>
            {% endif %}
            <!-- Content for the 'intro-photo' div -->
            <div class="intro-photo">
                <img src="{% if content %}{{ content.image.url }}{% endif %}"
                    alt="{% if content %}{{ content.alt_text }}{% endif %}">
            </div>
        </div>
    </div>
    <section id="divider" class="element">
        <div id="divider-cover-text">
            <h3>From Nature</h3>
            <h3>Art presents itself!</h3>
        </div>
    </section>
    <div>
        <h2 id="design-header" class="element">
            Custom Designs
        </h2>
        <hr>
    </div>
    <section id="design">
        <div class="card">
            <h2>Jewelry</h2>
            <div class="design-images">
                <img src="static/media/site_images/design-image-one.png/" alt="design-image-one" />
            </div>
        </div>
        <div class="card">
            <h2>Paintings</h2>
            <div class="design-images">
                <img src="static/media/site_images/design-image-two.png/" alt="desing-image-two" />
            </div>
        </div>
        <div class="card">
            <h2>Sculptures</h2>
            <div class="design-images">
                <img src="static/media/site_images/design-image-three.png/" alt="design-image-three" />
            </div>
        </div>
    </section>
</div>
{% endblock %}