<footer>
    <div class="footer-content">
        <ul class="social-network-icons">
            <li>
                <a href="{% url 'home' %}" aria-label="To the main page."><i class="fa-solid fa-house"></i></a>
            </li>
            <li>
                <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page"><i class="fa-brands fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter page"><i class="fa-brands fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page"><i class="fa-brands fa-instagram-square"></i></a>
            </li>
        </ul>
        <div id="copyright">
            <span>© 2024 Britta Klingenstierna. All rights reserved.</span>
        </div>
    </div>
</footer>
