<!-- home.html in your templates folder -->

{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <h1>”Colour your world”</h1>
    <div class="flex-container">
        <div class="intro">
            <!-- Content for the 'intro' div -->
            {% if content %}
                <h2>{{ content.title }}</h2>
                <p>{{ content.description }}</p>
            {% else %}
                <p>No content found for the home page.</p>
            {% endif %}
        </div>
        <div class="intro-photo">
            <!-- Content for the 'intro-photo' div -->
            <img src="{% if content %}{{ content.image.url }}{% endif %}" alt="{% if content %}{{ content.alt_text }}{% endif %}">
        </div>
    </div>
</div>
{% endblock %}
