<!-- home.html in your templates folder -->

{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div id="rainbow" class="element"><h1>”Colour Your World”</h1></div>
    <div class="flex-container">
        <div class="intro">
            <!-- Content for the 'intro' div -->

            {% if content %}
                <span class="description">{{ content.description }}</span>
                <span class="title">{{ content.title }}</span>
            {% else %}
                <p>No content found for the home page.</p>
            {% endif %}
        </div>
        <div class="intro-photo">
            <!-- Content for the 'intro-photo' div -->
            <img src="{% if content %}{{ content.image.url }}{% endif %}" alt="{% if content %}{{ content.alt_text }}{% endif %}">
        </div>
    </div>
</div>
{% endblock %}
