/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Typography */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Layout and positioning */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

/* Header styles */
header {
    background-color: rgba(161, 8, 8, 0.5);
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(56, 53, 53, 0.8);
    width: 100%;
    z-index: 1000;
    position: fixed;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.element {
    animation: rainbow 15s infinite;
    font-size: 1.5rem;
    margin: 0 2px;
}

header:hover .logo img {
    width: 3rem;
    height: 3rem;
}

.logo img {
    width: 4rem;
    height: 5rem;
    transition: width 0.5s, height 0.5s;
}

/* Navigation styles */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: #fefefe;
    text-decoration: none;
    font-size: 2rem;
}

nav a:hover {
    color: #000000;
}

/* Sticky header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + main {
    padding-top: 10px;
}

/* Main content styles */
main {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 112px;
    padding-bottom: 150px;
    background-color: rgb(255, 255, 255);
}

/* CSS styles for stacking spans */
.description,
.title {
    display: block !important;
}

.description {
    font-weight: bold;
    font-size: 1.35rem;
    color: #fff;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 1.0);
    padding: 0%;
    margin: 10%;
    border-radius: 20px;
}

.title {
    font-weight: bolder;
}

/* Footer styles */
footer {
    background-color: rgb(90, 89, 89);
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.8);
    opacity: 1.0;
}

#copyright {
    color: rgb(255, 255, 255);
    font-family: "Josefin sans", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}

/* Social network icons styles */
.social-network-icons {
    text-align: center;
}

.social-network-icons li {
    display: inline;
    list-style: none;
}

.social-network-icons li:hover {
    list-style: none;
    opacity: 0.8;
    text-decoration: none;
    border-bottom: 0;
}

.social-network-icons i {
    font-size: 1rem;
    color: #000000;
    padding: 5px;
}

/* Mobile menu styles */
.mobile-menu {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

/* Intro and Flex container styles */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.intro,
.intro-photo {
  
    width: 100%; /* Updated to full width */
    margin: 10px 0;
    box-sizing: border-box;
}

/* Rainbow effect */
#rainbow {
    position: relative;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
    margin-top: auto;
    padding-top: 2%;
}

.element {
    animation: rainbow 15s infinite;
}

@keyframes rainbow {
    0% { color: red; }
    16.66% { color: orange; }
    33.33% { color: yellow; }
    50% { color: green; }
    66.66% { color: blue; }
    83.33% { color: indigo; }
    100% { color: violet; }
}

/* Additional styling if necessary */
#divider {
    height: 100px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-size: 100%;
    position: fixed;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    margin-top: px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(248, 248, 248, 0.8);
    transition: box-shadow 0.3s ease-in-out; /* Add transition for a smooth effect */
}




/* Media query for small screens */
@media only screen and (max-width: 750px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: rgba(161, 8, 8, 0.5);
        z-index: 1000;
        text-align: center;
    }

    nav ul.show-mobile {
        display: flex;
    }

    .mobile-menu {
        display: block;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 20px;
    }
}

/* Full-width intro on small screens */
@media screen and (max-width: 850px) {
    .main-content {
        flex-direction: column;
        align-items: center;
        background-color: rgba(161, 8, 8);
    }

    .intro,
    .intro-photo  {
        width: 100%;
        margin: 10px 9;
    }

    #design {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: "Cardo", sans-serif;
    }

    #divider {
        flex: auto;
        position: relative;
        margin-bottom: 40px;
    }
}

#design {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Cardo", sans-serif;
    font-weight: bolder;
    margin-top: 50;
}

.design-item {
    margin: 20px
}
.treatment-images {
    background-color: white;
    display: flex;
    height: 150px;
    width: 150px;
    
    
}
